<!DOCTYPE html>
<html>
  <head>
    <title>timefinder - 相手の状況を理解して相談しよう</title>
    <%= stylesheet_link_tag 'top', media: 'all' %>
  </head>
  <body>
    <header>
      <h1>timefinder</h1>
    </header>
    <main>
      <section>
        <h2>相手の状況を理解して相談しよう</h2>
        <p>コロナ禍により、テレワークが主流になり、相談したい相手が物理的に近くない時があります。同時に相手の状況を理解するための情報収集や、相手がどのようなことに取り組んでいるかを知ることで、相談を受ける方に、負担にならないようなアプリを制作しました。</p>
        <p>人間関係で悩むことが多い社会であるため、このアプリで相談のしやすい環境を作ることができたらと考えます。</p>
        <a href="/users/sign_in" class="button">さっそく始める</a>
      </section>
    </main>
    <footer>
      <p>&copy; 2023 timefinder</p>
    </footer>
  </body>
</html>


